h1{
    color:red;
    font-family:Arial, Helvetica, sans-serif;
    vertical-align: middle;
    margin-left: 40px;
}
h2{
    color:green;
    font-family:'Times New Roman', Times, serif;
    margin-left: 50px;
}
h3{
    color:blue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 60px;
}
h4{
    color:violet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 70px;
}
h5{
    color:violet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 80px;
}
h6{
    color:violet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 90px;
}
p{
    background-color:blue;
}


img{border-width: 10;}
   
a:link {
    color:red
}
